@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/*social media color*/
/*social media color*/
/*gradient color*/
/*gradient color*/
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
.header, .headerOnTravel {
  background-color: transparent;
  /* rxt main navigation */
  /* / rxt main navigation */
}
.header.nav-up, .headerOnTravel.nav-up {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.header.nav-down, .headerOnTravel.nav-down {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.header.small-header, .headerOnTravel.small-header {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}
.header.small-header.nav-up, .headerOnTravel.small-header.nav-up {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.header.small-header .rxt-navigation > li > a, .headerOnTravel.small-header .rxt-navigation > li > a {
  color: #000;
}
.header.small-header .rxt-navigation > li:hover > a, .headerOnTravel.small-header .rxt-navigation > li:hover > a {
  color: #703ed9;
}
.header.small-header .rxt-navigation li.active > a, .headerOnTravel.small-header .rxt-navigation li.active > a {
  color: #000;
}
.header.small-header .logo img, .headerOnTravel.small-header .logo img {
  filter: invert(0) brightness();
}
.header.small-header .product-of-aussizz-wrap, .headerOnTravel.small-header .product-of-aussizz-wrap {
  color: #703ed9 !important;
}
.header .toggle-input, .headerOnTravel .toggle-input {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
}
.header .rxt-navigation-wrap, .headerOnTravel .rxt-navigation-wrap {
  background-color: transparent;
}
@media screen and (min-width: 992px) {
  .header [class*=mobOnly-], .headerOnTravel [class*=mobOnly-] {
    display: none;
  }
  .header .top-nav, .headerOnTravel .top-nav {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .header .top-nav > li, .headerOnTravel .top-nav > li {
    position: relative;
  }
  .header .top-nav > li:after, .headerOnTravel .top-nav > li:after {
    content: "/";
    color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
  }
  .header .top-nav > li > a, .headerOnTravel .top-nav > li > a {
    color: #fff;
    padding: 2px 10px;
  }
  .header .top-nav > li > a > i, .headerOnTravel .top-nav > li > a > i {
    color: #703ed9;
    margin-right: 4px;
  }
  .header .top-nav > li > a.link-highlighted, .headerOnTravel .top-nav > li > a.link-highlighted {
    color: #703ed9;
  }
  .header .top-nav > li > a:hover, .headerOnTravel .top-nav > li > a:hover {
    color: #703ed9;
  }
  .header .top-nav > li:last-child:after, .headerOnTravel .top-nav > li:last-child:after {
    display: none;
  }
  .header .top-nav .labelCount, .headerOnTravel .top-nav .labelCount {
    font-size: 12px;
    background: #387fce;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 17px;
    display: inline-block;
  }
  .header .rxt-navigation, .headerOnTravel .rxt-navigation {
    position: relative;
    z-index: 9999;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .header .rxt-navigation > li, .headerOnTravel .rxt-navigation > li {
    flex: 1 1 auto;
    text-align: center;
    margin-right: 2px;
  }
  .header .rxt-navigation > li > a, .headerOnTravel .rxt-navigation > li > a {
    display: block;
    font-size: 16px;
    color: #000;
    padding: 18px 6px;
  }
  .header .rxt-navigation > li > a.link-highlighted, .headerOnTravel .rxt-navigation > li > a.link-highlighted {
    color: #703ed9;
  }
  .header .rxt-navigation > li > a.t-btn-primary-outline, .headerOnTravel .rxt-navigation > li > a.t-btn-primary-outline {
    font-size: 14px;
    color: #703ed9;
    padding: 5px 22px;
    border: 1px #703ed9 solid;
    border-radius: 25px;
    margin-left: 10px;
  }
  .header .rxt-navigation > li > a.t-btn-primary-outline:hover, .headerOnTravel .rxt-navigation > li > a.t-btn-primary-outline:hover {
    color: #fff;
    background: #703ed9;
  }
  .header .rxt-navigation > li > a.t-btn-secondary, .headerOnTravel .rxt-navigation > li > a.t-btn-secondary {
    font-size: 14px;
    color: #fff;
    padding: 5px 22px;
    background: #703ed9;
    border: 1px #703ed9 solid;
    border-radius: 25px;
    margin-left: 10px;
  }
  .header .rxt-navigation > li > a.t-btn-secondary:hover, .headerOnTravel .rxt-navigation > li > a.t-btn-secondary:hover {
    color: #703ed9;
    background: transparent;
  }
  .header .rxt-navigation > li.social-wrap-menu > a, .headerOnTravel .rxt-navigation > li.social-wrap-menu > a {
    padding-top: 14px;
  }
  .header .rxt-navigation > li.social-wrap-menu > a:before, .headerOnTravel .rxt-navigation > li.social-wrap-menu > a:before {
    display: none !important;
  }
  .header .rxt-navigation > li.social-wrap-menu > a i, .headerOnTravel .rxt-navigation > li.social-wrap-menu > a i {
    width: 35px;
    height: 35px;
    background-color: #dce8ff;
    color: #703ed9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 100%;
  }
  .header .rxt-navigation > li.social-wrap-menu > ul, .headerOnTravel .rxt-navigation > li.social-wrap-menu > ul {
    max-width: 140px;
  }
  .header .rxt-navigation > li.signup-login-wrap .signup-login-main, .headerOnTravel .rxt-navigation > li.signup-login-wrap .signup-login-main {
    margin-top: 15px;
  }
  .header .rxt-navigation > li.signup-login-wrap .signup-login-main span, .headerOnTravel .rxt-navigation > li.signup-login-wrap .signup-login-main span {
    color: #703ed9;
  }
  .header .rxt-navigation > li.signup-login-wrap .signup-login-main .dropdown-menu, .headerOnTravel .rxt-navigation > li.signup-login-wrap .signup-login-main .dropdown-menu {
    visibility: inherit;
    opacity: inherit;
  }
  .header .rxt-navigation > li.signup-login-wrap .signup-login-main .dropdown-menu .dropdown-item:focus, .header .rxt-navigation > li.signup-login-wrap .signup-login-main .dropdown-menu .dropdown-item:hover, .headerOnTravel .rxt-navigation > li.signup-login-wrap .signup-login-main .dropdown-menu .dropdown-item:focus, .headerOnTravel .rxt-navigation > li.signup-login-wrap .signup-login-main .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
  }
  .header .rxt-navigation > li.signup-login-wrap .signup-login-main .dropdown-menu .dropdown-item.active, .header .rxt-navigation > li.signup-login-wrap .signup-login-main .dropdown-menu .dropdown-item:active, .headerOnTravel .rxt-navigation > li.signup-login-wrap .signup-login-main .dropdown-menu .dropdown-item.active, .headerOnTravel .rxt-navigation > li.signup-login-wrap .signup-login-main .dropdown-menu .dropdown-item:active {
    background-color: transparent;
  }
  .header .rxt-navigation > li.active > a, .headerOnTravel .rxt-navigation > li.active > a {
    background: transparent;
    font-weight: bold;
    color: #000;
  }
  .header .rxt-navigation > li:hover > a, .headerOnTravel .rxt-navigation > li:hover > a {
    color: #703ed9;
  }
  .header .rxt-navigation > li li, .headerOnTravel .rxt-navigation > li li {
    text-align: left;
  }
  .header .rxt-navigation > li li a, .headerOnTravel .rxt-navigation > li li a {
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    display: block;
    padding: 5px 15px;
  }
  .header .rxt-navigation > li li a:hover, .headerOnTravel .rxt-navigation > li li a:hover {
    color: #703ed9;
  }
  .header .rxt-navigation > li li:last-child, .headerOnTravel .rxt-navigation > li li:last-child {
    border-radius: 0 0 5px 5px;
  }
  .header .rxt-navigation > li li ul, .headerOnTravel .rxt-navigation > li li ul {
    top: 0;
    left: 100%;
    margin: 0 0 0 20px;
  }
  .header .rxt-navigation > li li.has-sub > a:before, .header .rxt-navigation > li li ul + a:before, .headerOnTravel .rxt-navigation > li li.has-sub > a:before, .headerOnTravel .rxt-navigation > li li ul + a:before {
    content: "";
    left: 100%;
    top: 50%;
    right: auto;
    margin: 0 0 0 -15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .header .rxt-navigation > li li:last-child, .headerOnTravel .rxt-navigation > li li:last-child {
    border-bottom: 0;
  }
  .header .rxt-navigation > li li:hover, .headerOnTravel .rxt-navigation > li li:hover {
    color: #fff;
  }
  .header .rxt-navigation > li:last-child, .headerOnTravel .rxt-navigation > li:last-child {
    margin-right: 0;
  }
  .header .rxt-navigation ul, .headerOnTravel .rxt-navigation ul {
    visibility: hidden;
    opacity: 0;
    list-style-type: none;
    padding: 10px 0px !important;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 100%;
    width: 220px;
    margin-top: 20px;
    background-color: #fff;
    -webkit-transition: ease all 0.3s;
    -moz-transition: ease all 0.3s;
    -ms-transition: ease all 0.3s;
    transition: ease all 0.3s;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-box-shadow: 0 2px 5px rgba(112, 62, 217, 0.8);
    -moz-box-shadow: 0 2px 5px rgba(112, 62, 217, 0.8);
    -ms-box-shadow: 0 2px 5px rgba(112, 62, 217, 0.8);
    box-shadow: 0 2px 5px rgba(112, 62, 217, 0.8);
  }
  .header .rxt-navigation li, .headerOnTravel .rxt-navigation li {
    position: relative;
  }
  .header .rxt-navigation li.has-sub > a:before, .header .rxt-navigation li ul + a:before, .headerOnTravel .rxt-navigation li.has-sub > a:before, .headerOnTravel .rxt-navigation li ul + a:before {
    font-size: 10px;
    position: absolute;
    bottom: 10px;
    margin-top: -4px;
    right: 0;
    left: 0;
    content: "";
    font-family: "Line Awesome Free";
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }
  .header .rxt-navigation li:hover > ul, .headerOnTravel .rxt-navigation li:hover > ul {
    visibility: visible;
    opacity: 1;
    margin: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@media screen and (max-width: 1280px) {
  .header .rxt-navigation li.has-sub > a:before, .headerOnTravel .rxt-navigation li.has-sub > a:before {
    right: 5px;
  }
}
@media screen and (max-width: 1199px) {
  .header .rxt-navigation > li > a, .headerOnTravel .rxt-navigation > li > a {
    font-size: 13px;
  }
  .header .rxt-navigation li.has-sub > a:before, .headerOnTravel .rxt-navigation li.has-sub > a:before {
    right: 0;
  }
}
@media screen and (max-width: 991px) {
  .header [class*=deskOnly-], .headerOnTravel [class*=deskOnly-] {
    display: none;
  }
  .header, .headerOnTravel {
    position: relative;
  }
  .header.small-header .rxt-nav-trigger > span, .headerOnTravel.small-header .rxt-nav-trigger > span {
    background-color: #703ed9;
  }
  .header .signup-login-main .dropdown-menu, .headerOnTravel .signup-login-main .dropdown-menu {
    background-color: #dce8ff !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .header .signup-login-main .dropdown-menu a, .headerOnTravel .signup-login-main .dropdown-menu a {
    color: #703ed9;
  }
  .header .signup-login-main .dropdown-menu a:hover, .headerOnTravel .signup-login-main .dropdown-menu a:hover {
    color: #ed1c24;
  }
  .header .signup-login-main .dropdown-menu .dropdown-item:focus, .header .signup-login-main .dropdown-menu .dropdown-item:hover, .headerOnTravel .signup-login-main .dropdown-menu .dropdown-item:focus, .headerOnTravel .signup-login-main .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
  }
  .header .signup-login-main .dropdown-menu .dropdown-item.active, .header .signup-login-main .dropdown-menu .dropdown-item:active, .headerOnTravel .signup-login-main .dropdown-menu .dropdown-item.active, .headerOnTravel .signup-login-main .dropdown-menu .dropdown-item:active {
    background-color: transparent;
  }
  .header .logo, .headerOnTravel .logo {
    text-align: center;
  }
  .header .logo img, .headerOnTravel .logo img {
    width: 200px;
  }
  .header .rxt-nav-trigger, .headerOnTravel .rxt-nav-trigger {
    display: block;
    width: 30px;
    cursor: pointer;
  }
  .header .rxt-nav-trigger > span, .headerOnTravel .rxt-nav-trigger > span {
    display: block;
    height: 2px;
    border-radius: 2px;
    background: #703ed9;
    margin-bottom: 5px;
    -webkit-transition: ease all 0.3s;
    -moz-transition: ease all 0.3s;
    -ms-transition: ease all 0.3s;
    transition: ease all 0.3s;
  }
  .header .rxt-nav-trigger > span:first-child, .headerOnTravel .rxt-nav-trigger > span:first-child {
    width: 23px;
    margin-left: auto;
  }
  .header .rxt-nav-trigger > span:last-child, .headerOnTravel .rxt-nav-trigger > span:last-child {
    margin-bottom: 0;
  }
  .header .rxt-nav-trigger:hover, .headerOnTravel .rxt-nav-trigger:hover {
    animation-name: rubberBand;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  .header .rxt-nav-trigger:hover > span, .headerOnTravel .rxt-nav-trigger:hover > span {
    background: #000;
  }
  .header .rxt-navigation-wrap, .headerOnTravel .rxt-navigation-wrap {
    padding: 0px 0 20px;
    display: block;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    bottom: 0;
    width: 280px;
    height: 100%;
    overflow: auto;
    background: #703ed9;
    box-sizing: border-box;
    -webkit-transition: ease all 0.3s;
    -moz-transition: ease all 0.3s;
    -ms-transition: ease all 0.3s;
    transition: ease all 0.3s;
  }
  .header .rxt-navigation-wrap .container, .headerOnTravel .rxt-navigation-wrap .container {
    padding: 0;
  }
  .header .mobOnly-menu-close-link, .headerOnTravel .mobOnly-menu-close-link {
    display: block;
    position: absolute;
    right: 0;
    top: 4px;
    font-size: 22px;
    color: #f36368;
    padding: 2px 12px;
    opacity: 0.6;
    cursor: pointer;
    -webkit-transition: ease all 0.3s;
    -moz-transition: ease all 0.3s;
    -ms-transition: ease all 0.3s;
    transition: ease all 0.3s;
  }
  .header .mobOnly-menu-close-link:hover, .header .mobOnly-menu-close-link:focus, .headerOnTravel .mobOnly-menu-close-link:hover, .headerOnTravel .mobOnly-menu-close-link:focus {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  .header .top-nav, .headerOnTravel .top-nav {
    text-align: left;
    margin-bottom: 0;
  }
  .header .top-nav > li, .headerOnTravel .top-nav > li {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
  }
  .header .top-nav > li > a, .headerOnTravel .top-nav > li > a {
    display: block;
    font-size: 14px;
    color: #fff;
    padding: 10px 15px;
  }
  .header .top-nav > li > a.link-highlighted, .headerOnTravel .top-nav > li > a.link-highlighted {
    color: #703ed9;
  }
  .header .top-nav > li > a > i, .headerOnTravel .top-nav > li > a > i {
    margin-right: 6px;
  }
  .header .top-nav .labelCount, .headerOnTravel .top-nav .labelCount {
    font-size: 12px;
    background: #387fce;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 17px;
    display: inline-block;
  }
  .header .rxt-navigation, .headerOnTravel .rxt-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .header .rxt-navigation li, .headerOnTravel .rxt-navigation li {
    position: relative;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
  }
  .header .rxt-navigation li:first-child, .headerOnTravel .rxt-navigation li:first-child {
    border-top-width: 1px;
  }
  .header .rxt-navigation li a, .headerOnTravel .rxt-navigation li a {
    display: block;
    font-size: 14px;
    color: #fff;
    padding: 10px 15px;
  }
  .header .rxt-navigation li a.link-highlighted, .headerOnTravel .rxt-navigation li a.link-highlighted {
    color: #703ed9;
  }
  .header .rxt-navigation li.active > a, .headerOnTravel .rxt-navigation li.active > a {
    background: transparent;
    color: #f8aaad;
  }
  .header .rxt-navigation li.has-sub, .headerOnTravel .rxt-navigation li.has-sub {
    display: flex;
    flex-flow: row-reverse;
    flex-wrap: wrap;
  }
  .header .rxt-navigation li.has-sub:before, .headerOnTravel .rxt-navigation li.has-sub:before {
    content: "";
    color: #e2e2e2;
    flex: 40px 0;
    text-align: center;
    font-family: "Line Awesome Free";
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .rxt-navigation li.has-sub > a, .headerOnTravel .rxt-navigation li.has-sub > a {
    flex: 1 1 auto;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  .header .rxt-navigation li.has-sub > ul, .headerOnTravel .rxt-navigation li.has-sub > ul {
    flex: 100% 0;
    -webkit-transition: height 0.01s;
    -moz-transition: height 0.01s;
    -ms-transition: height 0.01s;
    transition: height 0.01s;
  }
  .header .rxt-navigation li.has-sub ul, .headerOnTravel .rxt-navigation li.has-sub ul {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .header .rxt-navigation li.has-sub ul li a, .headerOnTravel .rxt-navigation li.has-sub ul li a {
    padding-left: 20px;
  }
  .header .rxt-navigation li.has-sub ul li ul a, .headerOnTravel .rxt-navigation li.has-sub ul li ul a {
    padding-left: 25px;
  }
  .header .rxt-navigation li.has-sub ul li:last-child, .headerOnTravel .rxt-navigation li.has-sub ul li:last-child {
    border-bottom: 0;
  }
  .header .rxt-navigation li.has-sub:hover, .headerOnTravel .rxt-navigation li.has-sub:hover {
    background: #5726be;
  }
  .header .rxt-navigation li.has-sub:hover:before, .headerOnTravel .rxt-navigation li.has-sub:hover:before {
    content: "";
    color: #fff;
  }
  .header .rxt-navigation li.has-sub:hover > ul, .headerOnTravel .rxt-navigation li.has-sub:hover > ul {
    visibility: visible;
    opacity: 1;
    height: 100%;
  }
  .header .rxt-nav-overlay, .headerOnTravel .rxt-nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
    background: rgba(0, 0, 0, 0.5);
  }
  .header .rxt-navigation-wrap, .headerOnTravel .rxt-navigation-wrap {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .header .rxt-navigation-wrap:target, .headerOnTravel .rxt-navigation-wrap:target {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .header .rxt-navigation-wrap:target + .rxt-nav-overlay, .headerOnTravel .rxt-navigation-wrap:target + .rxt-nav-overlay {
    display: block;
  }
  .header [class*=col-], .headerOnTravel [class*=col-] {
    position: static;
  }
}
@media screen and (max-width: 575px) {
  .header .logo img, .headerOnTravel .logo img {
    width: 90%;
  }
  .header .rxt-nav-trigger, .headerOnTravel .rxt-nav-trigger {
    width: 32px;
  }
  .header .rxt-nav-trigger > span, .headerOnTravel .rxt-nav-trigger > span {
    margin-bottom: 4px;
  }
  .header .rxt-nav-trigger > span:first-child, .headerOnTravel .rxt-nav-trigger > span:first-child {
    width: 25px;
  }
  .header .product-of-aussizz-wrap, .headerOnTravel .product-of-aussizz-wrap {
    font-size: 11px !important;
  }
}

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -ms-transition: ease all 0.3s;
  transition: ease all 0.3s;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.header .logo {
  display: block;
  margin: 10px 0 10px 0;
  position: relative;
}
.header .logo img {
  max-width: 180px;
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -ms-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
.header .product-of-aussizz-wrap {
  font-size: 11.4px;
}
.header .rxt-navigation > li.active > a:not([class*=t-btn]):after, .header .rxt-navigation > li > a:not([class*=t-btn]):hover:after {
  visibility: visible;
  opacity: 1;
  left: 4px;
  -webkit-transform: translateY(-50%) rotate(0) scale(1);
  -moz-transform: translateY(-50%) rotate(0) scale(1);
  -ms-transform: translateY(-50%) rotate(0) scale(1);
  transform: translateY(-50%) rotate(0) scale(1);
}
.header .rxt-navigation > li > a:not([class*=t-btn]) {
  position: relative;
}
.header .rxt-navigation > li > a:not([class*=t-btn]):after {
  display: none;
}
.header .rxt-navigation > li > [class*=t-btn] {
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -ms-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
.header .rxt-navigation > li > [class*=t-btn]:hover {
  -webkit-box-shadow: 0 0 5px 5px rgba(112, 62, 217, 0.2);
  -moz-box-shadow: 0 0 5px 5px rgba(112, 62, 217, 0.2);
  -ms-box-shadow: 0 0 5px 5px rgba(112, 62, 217, 0.2);
  box-shadow: 0 0 5px 5px rgba(112, 62, 217, 0.2);
}
.header.header-dark {
  background-color: #703ed9;
}
.header.header-dark .logo-img {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.header.header-dark .header__logo-title {
  color: #fff;
}
.header.header-dark .rxt-navigation > li > a:not([class*=t-btn]):hover, .header.header-dark .rxt-navigation > li.active > a:not([class*=t-btn]) {
  color: #fff;
}
.header.header-dark .rxt-navigation > li > a:not([class*=t-btn]) {
  color: #fff;
}
.header.header-dark .rxt-navigation > li > a.t-btn-primary-outline {
  color: #fff;
  border-color: #fff;
}
.header.header-dark .rxt-navigation > li > a.t-btn-primary-outline:hover {
  color: #fff;
  background: #703ed9;
  border-color: #612ad4;
}
.header.header-dark .rxt-nav-trigger > span {
  background: #fff;
}
.header.header-dark.small-header {
  background: #fff;
}
.header.header-dark.small-header .logo-white {
  visibility: hidden;
  opacity: 0;
}
.header.header-dark.small-header .logo-img {
  visibility: visible;
  opacity: 1;
}
.header.header-dark.small-header.nav-down {
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}
.header.header-dark.small-header .rxt-navigation > li > a:not([class*=t-btn]) {
  color: #703ed9;
}
.header.header-dark.small-header .rxt-navigation > li > a.t-btn-primary-outline {
  color: #703ed9;
  border-color: #703ed9;
}
.header.header-dark.small-header .rxt-navigation > li > a.t-btn-primary-outline:hover {
  color: #fff;
}
.header.header-dark.small-header .rxt-navigation > li.active > a:not([class*=t-btn]) {
  color: #090414;
}
.header ul.list-quick-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.header ul.list-quick-links > li {
  margin-right: 8px;
}
.header ul.list-quick-links > li:not(.btn-quick-links) a {
  padding: 5px 10px;
}
.header ul.list-quick-links > li:last-child {
  margin-right: 0;
}

.headerOnTravel ul.list-quick-links {
  list-style-type: none;
  padding: 0 14px;
  margin: -30px 0 8px;
}
.headerOnTravel ul.list-quick-links > li {
  margin-bottom: 5px;
}
.headerOnTravel ul.list-quick-links a {
  color: #fff;
}
.headerOnTravel ul.list-quick-links a.link-secondary {
  display: block;
  padding: 4px 0;
}
.headerOnTravel ul.list-quick-links [class*=btn-outline-] {
  border-color: #fff;
}
.headerOnTravel ul.list-quick-links .btn-quick-links {
  display: inline-block;
  vertical-align: middle;
}

footer form .form-group .form-control:focus ~ .focus-border {
  width: calc(100% - 25px);
  transition: 0.4s;
}

footer form .form-group .form-control ~ .focus-border {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1px;
  background: -moz-linear-gradient(left, #703ed9 0%, #703ed9 50%, #b0d8f3 100%);
  background: -webkit-linear-gradient(left, #703ed9 0%, #703ed9 50%, #b0d8f3 100%);
  background: linear-gradient(to right, #703ed9 0%, #703ed9 50%, #b0d8f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="rgb(176,216,243)",GradientType=1 );
  transition: 0.4s;
}

/*footer buttom*/
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
}

main {
  flex: 1;
}

footer {
  margin-top: auto !important;
}

/*footer buttom end*/
a {
  color: #703ed9;
  text-decoration: none;
}
a:hover, a:focus {
  outline: none;
  text-decoration: none;
  color: #5726be;
}

.shadow {
  box-shadow: 0px 0px 27px 0px rgba(112, 62, 217, 0.15) !important;
}

.z-index-0 {
  z-index: 0;
}

.z-index-1 {
  z-index: 1;
}

/*custom typography*/
.box-sizing-border-box {
  box-sizing: border-box !important;
}

.text-truncate-4-lines {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*custom typography end*/
.fw-100 {
  font-weight: 100 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.font-14 {
  font-size: 14px !important;
}

.rounded-10 {
  border-radius: 0.6rem !important;
}

.rounded-15 {
  border-radius: 0.9rem !important;
}

.rounded-bottom-10 {
  border-bottom-right-radius: 0.6rem !important;
  border-bottom-left-radius: 0.6rem !important;
}

.rounded-top-10 {
  border-top-left-radius: 0.6rem !important;
  border-top-right-radius: 0.6rem !important;
}

/*sosial media color*/
.bg-facebook {
  background-color: #43609d !important;
}

.bg-twitter {
  background-color: #1da1f2 !important;
}

.bg-youtube {
  background-color: #ee1c1b !important;
}

.bg-instagram {
  background-color: #F56040 !important;
}

.bg-whatsapp {
  background-color: #2ab200 !important;
}

.bg-telegram {
  background-color: #2788CC !important;
}

.bg-linkedin {
  background-color: #007bb6 !important;
}

.bg-email {
  background-color: #dfa625 !important;
}

/*text color*/
.text-facebook {
  color: #43609d !important;
}

.text-twitter {
  color: #1da1f2 !important;
}

.text-youtube {
  color: #ee1c1b !important;
}

.text-instagram {
  color: #F56040 !important;
}

.text-whatsapp {
  color: #2ab200 !important;
}

.text-telegram {
  color: #2788CC !important;
}

.text-linkedin {
  color: #007bb6 !important;
}

.text-email {
  color: #dfa625 !important;
}

/*sosial media color*/
/*bg color*/
.bg-black {
  background-color: #000 !important;
}

.bg-primary-theme {
  background: #703ed9 !important;
}

.bg-secondary-theme {
  background: #ed1c24 !important;
}

.bg-primary-theme-1 {
  background: #faf5ff !important;
}

.bg-primary-theme-2 {
  background: #ecfdf2 !important;
}

.bg-primary-theme-3 {
  background: #fdf0ee !important;
}

.bg-primary-theme-4 {
  background: #fef8ea !important;
}

/*bg color*/
/*text color*/
.text-black {
  color: #000 !important;
}

.text-primary-theme {
  color: #703ed9 !important;
}

.text-secondary-theme {
  color: #ed1c24 !important;
}

.text-primary-theme-1 {
  color: #b3cdff !important;
}

/*text color*/
/* gradient*/
.gradient-1 {
  background-image: -moz-linear-gradient(90deg, white 0%, #f7f1ff 23%, #efe3ff 100%);
  background-image: -webkit-linear-gradient(90deg, white 0%, #f7f1ff 23%, #efe3ff 100%);
  background-image: -ms-linear-gradient(90deg, white 0%, #f7f1ff 23%, #efe3ff 100%);
}

.gradient-2 {
  background-image: -moz-linear-gradient(-83deg, #faf5ff 69%, white 100%, #b0d8f3 100%, #cd213d 100%);
  background-image: -webkit-linear-gradient(-83deg, #faf5ff 69%, white 100%, #b0d8f3 100%, #cd213d 100%);
  background-image: -ms-linear-gradient(-83deg, #faf5ff 69%, white 100%, #b0d8f3 100%, #cd213d 100%);
}

.gradient-3 {
  background-image: -moz-linear-gradient(0deg, #fdfbff 0%, white 100%);
  background-image: -webkit-linear-gradient(0deg, #fdfbff 0%, white 100%);
  background-image: -ms-linear-gradient(0deg, #fdfbff 0%, white 100%);
}

.gradient-4 {
  background-image: -moz-linear-gradient(-86deg, #faf5ff 69%, white 100%, #b0d8f3 100%, #cd213d 100%);
  background-image: -webkit-linear-gradient(-86deg, #faf5ff 69%, white 100%, #b0d8f3 100%, #cd213d 100%);
  background-image: -ms-linear-gradient(-86deg, #faf5ff 69%, white 100%, #b0d8f3 100%, #cd213d 100%);
}

.gradient-5 {
  background-image: -moz-linear-gradient(45deg, #ac7feb 0%, #8648e2 100%);
  background-image: -webkit-linear-gradient(45deg, #ac7feb 0%, #8648e2 100%);
  background-image: -ms-linear-gradient(45deg, #ac7feb 0%, #8648e2 100%);
}

/* gradient*/
.hover-img-grayscale:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.hover-img-grayscale1 {
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -ms-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
.hover-img-grayscale1:hover {
  transform: scale(1.07);
}

.hover-text-primary-theme-child:hover .hover-text-primary-theme-w-p {
  color: #703ed9 !important;
}

.hover-features:hover {
  background: transparent !important;
  border-color: #703ed9 !important;
}
.hover-features .list-group > li:hover {
  color: #703ed9 !important;
}
.hover-features .list-group > li:hover a {
  color: #703ed9 !important;
}
.hover-features .list-group > li:hover.las {
  color: #703ed9 !important;
}

/*bootstrap*/
/*btn-primary-theme*/
.btn-primary-theme {
  color: #fff;
  background-color: #703ed9;
  border-color: #703ed9;
}
.btn-primary-theme:hover {
  color: #fff;
  background-color: #5726be;
  border-color: #5324b6;
}

.btn-primary-theme:focus + .btn, .btn-primary-theme:focus {
  color: #fff;
}

/*btn-primary-theme*/
/*btn-white-theme*/
.btn-white-theme {
  color: #703ed9;
  background-color: #fff;
  border-color: #fff;
}
.btn-white-theme:hover {
  color: #fff;
  background-color: #5726be;
  border-color: #5324b6;
}

.btn-white-theme:focus + .btn, .btn-white-theme:focus {
  color: #fff;
  background-color: #703ed9;
  border-color: #703ed9;
}

/*btn-white-theme*/
.h1, h1 {
  font-size: calc(1.30rem + 1.5vw);
}

.h2, h2 {
  font-size: calc(1.15rem + .9vw);
}

.h3, h3 {
  font-size: calc(1.010rem + .6vw);
}

.h4, h4 {
  font-size: calc(1.05rem + .3vw);
}

.h5, h5 {
  font-size: calc(1.03rem + .01vw);
}

.accordion-button:not(.collapsed) {
  color: #703ed9;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #703ed9;
}

/*bootstrap/*
/* hover*/
.text-white-hover:hover {
  color: #fff !important;
}

/* hover*/
/* backtop */
.backtop {
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -ms-transition: ease all 0.3s;
  transition: ease all 0.3s;
  position: relative;
  right: -100%;
  opacity: 0;
}
.backtop.backtopActive {
  right: 0;
  opacity: 10;
}

/* /backtop */
/* video in modal */
.modal-video-style-1 .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(100%, -100%);
  -moz-transform: translate(100%, -100%);
  -ms-transform: translate(100%, -100%);
  transform: translate(100%, -100%);
  opacity: 1;
}
.modal-video-style-1 .btn-close i {
  color: #fff;
}

/* video in modal */
.rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rotate-45-reverse {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*hover style*/
.card-wrap-hover:hover .icon-hover {
  background-color: #dfa625 !important;
  color: #fff !important;
}
.card-wrap-hover:hover .btn-white-theme-hover {
  color: #fff;
  background-color: #5726be;
  border-color: #5324b6;
}

.btn-hover i {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: fadeInLeft;
}
.btn-hover:hover, .btn-hover:focus {
  background: -webkit-linear-gradient(left, #703ed9 10%, #703ed9 10%, #b0d8f3 100%);
  transition: 0.4s;
  border: -webkit-linear-gradient(left, #703ed9 10%, #703ed9 10%, #b0d8f3 100%);
  border-color: #703ed9;
}
.btn-hover:hover i, .btn-hover:focus i {
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-name: bounceInLeft;
}

/*hover style*/
/*tab style*/
.tab-style-1 .nav-link.active i {
  color: #133880 !important;
}

.tab-style-4 .nav-link {
  border: 0;
  position: relative;
}
.tab-style-4 .nav-link.active {
  background-image: -moz-linear-gradient(45deg, #ac7feb 0%, #8648e2 100%);
  background-image: -webkit-linear-gradient(45deg, #ac7feb 0%, #8648e2 100%);
  background-image: -ms-linear-gradient(45deg, #ac7feb 0%, #8648e2 100%);
  color: #fff !important;
}
.tab-style-4 .nav-link.active span {
  color: #fff !important;
}

/*tab style*/
/*font*/
.font-family-opensans {
  font-family: "Open Sans" !important;
}

/*font*/
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}

.testimonials.owl-theme .owl-dots {
  text-align: right !important;
  margin: 0px !important;
  position: absolute;
  right: 25px;
  bottom: 25%;
  background: #fff;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #703ed9 !important;
}

/* rxt-scroll-img-wrap */
.rxt-scroll-img-wrap {
  overflow: hidden;
  height: 550px;
  position: relative;
}
.rxt-scroll-img-wrap .rxt-scroll-img {
  -webkit-transition: ease all 6s;
  -moz-transition: ease all 6s;
  -ms-transition: ease all 6s;
  transition: ease all 6s;
}
.rxt-scroll-img-wrap:hover .rxt-scroll-img {
  -webkit-transform: translateY(calc(-100% + 550px));
  -moz-transform: translateY(calc(-100% + 550px));
  -ms-transform: translateY(calc(-100% + 550px));
  transform: translateY(calc(-100% + 550px));
}

/* /rxt-scroll-img-wrap */
.owl-theme .owl-dots, .owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav {
  margin-top: 10px;
}

.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

/* main css */
@media (min-width: 1200px) {
  .h1, h1 {
    font-size: 2.2rem;
  }

  .h2, h2 {
    font-size: 1.8rem;
  }

  .h3, h3 {
    font-size: 1.5rem;
  }

  .h4, h4 {
    font-size: 1.3rem;
  }

  .h5, h5 {
    font-size: 1.15rem;
  }
}
@media (max-width: 991.98px) {
  /* rxt-scroll-img-wrap */
  .rxt-scroll-img-wrap {
    overflow: hidden;
    height: 250px;
    position: relative;
  }
  .rxt-scroll-img-wrap .rxt-scroll-img {
    -webkit-transition: ease all 6s;
    -moz-transition: ease all 6s;
    -ms-transition: ease all 6s;
    transition: ease all 6s;
  }
  .rxt-scroll-img-wrap:hover .rxt-scroll-img {
    -webkit-transform: translateY(calc(-100% + 250px));
    -moz-transform: translateY(calc(-100% + 250px));
    -ms-transform: translateY(calc(-100% + 250px));
    transform: translateY(calc(-100% + 250px));
  }

  /* /rxt-scroll-img-wrap */
}
@media (max-width: 767.98px) {
  .modal-video-style-1 .btn-close {
    z-index: 999;
    top: 15px;
    right: 15px;
  }

  .container {
    max-width: 100%;
  }
}
@media (max-width: 575.98px) {
  /* rxt-scroll-img-wrap */
  .rxt-scroll-img-wrap {
    overflow: hidden;
    height: 200px;
    position: relative;
  }
  .rxt-scroll-img-wrap .rxt-scroll-img {
    -webkit-transition: ease all 6s;
    -moz-transition: ease all 6s;
    -ms-transition: ease all 6s;
    transition: ease all 6s;
  }
  .rxt-scroll-img-wrap:hover .rxt-scroll-img {
    -webkit-transform: translateY(calc(-100% + 200px));
    -moz-transform: translateY(calc(-100% + 200px));
    -ms-transform: translateY(calc(-100% + 200px));
    transform: translateY(calc(-100% + 200px));
  }

  /* /rxt-scroll-img-wrap */
}
/* / main css */

/*# sourceMappingURL=main.css.map */
