$primary-color: #703ed9;
$secondary-color: #ed1c24;

$black: #000;
$white: #fff;
$blue:#0b1ffe;
$green:#1a6637;
$grey:#9b9e9b;
$orange:#dc3a09;
$pink:#f5a0a3;
$purple:#630b8e;
$red:#f6132b;
$yellow:#ffff00;
$violet:#9417d4;
$brass:#b5a643;


/*social media color*/ 
$facebook:#43609d;
$twitter:#1da1f2;
$youtube:#ee1c1b;
$instagram:#F56040;
$whatsapp:#2ab200;
$telegram:#2788CC;
$linkedin:#007bb6;
$email:#dfa625;
/*social media color*/

/*gradient color*/ 
$hover-gradient : -webkit-linear-gradient(left, $primary-color 10%, $primary-color 10%, rgb(176,216,243) 100%);
/*gradient color*/ 
  