/*footer buttom*/
html{  scroll-behavior: smooth; }
body{ min-height: 100vh; display: flex; flex-direction: column;  font-family: 'Mulish', sans-serif; font-size: 1rem; }
main{flex: 1;} 
footer{margin-top: auto !important;}
/*footer buttom end*/
a {color: $primary-color; text-decoration: none;
  &:hover, &:focus { outline: none; text-decoration: none; color: darken($color:$primary-color, $amount:10%); }
}

.shadow { box-shadow: 0px 0px 27px 0px rgba(112, 62, 217, 0.15) !important;}

.z-index-0{z-index: 0;}
.z-index-1{z-index: 1;}
/*custom typography*/
.box-sizing-border-box{ box-sizing: border-box !important; }
.text-truncate-4-lines {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*custom typography end*/
.fw-100{ font-weight: 100 !important; }
.fw-300{ font-weight: 300 !important; }
.fw-500{ font-weight: 500 !important; }
.fw-900{ font-weight: 900 !important; }
.font-14 { font-size: 14px !important;}

.rounded-10 { border-radius: .6rem !important; }
.rounded-15 { border-radius: .9rem !important; }
.rounded-bottom-10 { border-bottom-right-radius:.6rem !important; border-bottom-left-radius:.6rem !important; }        
.rounded-top-10 { border-top-left-radius: .6rem !important; border-top-right-radius: .6rem !important; }

/*sosial media color*/
.bg-facebook { background-color: $facebook !important; }
.bg-twitter { background-color: $twitter !important; }
.bg-youtube { background-color: $youtube !important; }
.bg-instagram { background-color: $instagram !important; }
.bg-whatsapp { background-color: $whatsapp !important; }
.bg-telegram { background-color: $telegram !important; }
.bg-linkedin { background-color: $linkedin !important; }
.bg-email{ background-color: $email !important; }
/*text color*/
.text-facebook { color: $facebook !important; }
.text-twitter { color: $twitter !important; }
.text-youtube { color: $youtube !important; }
.text-instagram { color: $instagram !important; }
.text-whatsapp { color: $whatsapp !important; }
.text-telegram { color: $telegram !important; } 
.text-linkedin { color: $linkedin !important; }
.text-email{ color: $email !important; } 
/*sosial media color*/

/*bg color*/
.bg-black{ background-color:$black !important; }
.bg-primary-theme { background: $primary-color !important; }
.bg-secondary-theme { background: $secondary-color !important; }
.bg-primary-theme-1 { background: #faf5ff !important; }
.bg-primary-theme-2 { background: #ecfdf2 !important; }
.bg-primary-theme-3 { background: #fdf0ee !important; }
.bg-primary-theme-4 { background: #fef8ea !important; }
/*bg color*/

/*text color*/
.text-black{ color:$black !important; }
.text-primary-theme { color: $primary-color !important; }
.text-secondary-theme { color: $secondary-color !important; }
.text-primary-theme-1 { color:darken($color: #dce8ff, $amount: 8%) !important; }
/*text color*/

/* gradient*/
.gradient-1 { @include bg-gradient-1; }
.gradient-2 { @include bg-gradient-2; }
.gradient-3 { @include bg-gradient-3; }
.gradient-4 { @include bg-gradient-4; }
.gradient-5 { @include bg-gradient-5; }
/* gradient*/

.hover-img-grayscale{
  &:hover{
    -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  }
}
.hover-img-grayscale1{
  @include transition(ease all 0.3s);
  &:hover{    
    transform: scale(1.07);
  }
}
.hover-text-primary-theme-child{
  &:hover{    
    .hover-text-primary-theme-w-p{color:$primary-color !important;}
  }
}

.hover-features{
  &:hover{
    background: transparent !important;
    border-color:$primary-color !important;    
  }
  .list-group > li {
    &:hover { color: $primary-color !important; 
      a { color: $primary-color !important; }
      &.las { color: $primary-color !important;}
    }
  }
}
  

/*bootstrap*/


/*btn-primary-theme*/
.btn-primary-theme { color:$white; background-color: $primary-color; border-color:  $primary-color;
  &:hover {
    color:$white;
    background-color: darken($color: $primary-color, $amount:10%);
    border-color: darken($color: $primary-color, $amount:12%);
}
}

.btn-primary-theme:focus+.btn, .btn-primary-theme:focus{
  color:$white;
}
/*btn-primary-theme*/


/*btn-white-theme*/
.btn-white-theme { color:$primary-color; background-color: $white; border-color:  $white;
  &:hover {
    color:$white;
    background-color: darken($color: $primary-color, $amount:10%);
    border-color: darken($color: $primary-color, $amount:12%);
}
}

.btn-white-theme:focus+.btn, .btn-white-theme:focus{
  color:$white;
  background-color: $primary-color; border-color:  $primary-color;
}
/*btn-white-theme*/
.h1, h1 { font-size: calc(1.30rem + 1.5vw); }
.h2, h2 { font-size: calc(1.15rem + .9vw); }
.h3, h3 { font-size: calc(1.010rem + .6vw); }
.h4, h4 { font-size: calc(1.05rem + .3vw); }
.h5, h5 { font-size: calc(1.03rem + .01vw);}

.accordion-button:not(.collapsed) {
  color: $primary-color;
}
 
.dropdown-item.active, .dropdown-item:active {
  background-color: $primary-color;
}

/*bootstrap/*
/* hover*/
.text-white-hover {
  &:hover{
    color: $white !important;
  }
 
   }
/* hover*/

/* backtop */
.backtop{@include transition(ease all 0.3s); position: relative; right: -100%; opacity: 0;
  &.backtopActive{right:0; opacity: 10;}
}
/* /backtop */

/* video in modal */
.modal-video-style-1 { .btn-close { position: absolute; top: 0; right: 0; @include transform(translate(100%, -100%)); opacity: 1; i { color: $white; } } }
/* video in modal */

.rotate-45{ @include transform ( rotate(45deg)); }
.rotate-45-reverse{ @include transform ( rotate(-45deg)); }
 
/*hover style*/
 .card-wrap-hover{
   &:hover{
    .icon-hover{
      background-color: $email !important;
      color: $white !important;
    }
    .btn-white-theme-hover{
      color:$white;
      background-color: darken($color: $primary-color, $amount:10%);
      border-color: darken($color: $primary-color, $amount:12%);
    }
   }
 }
 
 .btn-hover 
 {   
   i {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: fadeInLeft;
   }
  &:hover, &:focus { background: $hover-gradient; transition: 0.4s; border: $hover-gradient; border-color: $primary-color;
    i { animation-iteration-count: 1; animation-duration: 2s; animation-name: bounceInLeft; }
  }
 } 

/*hover style*/
 
 /*tab style*/
.tab-style-1  {
  .nav-link{
    &.active {
      i{
        color: #133880 !important;
      }
      
    }
  }
}
.tab-style-4{
  .nav-link{ border: 0; position: relative;
    &.active {@include bg-gradient-5;  color: $white !important; 
      span { color: $white !important;}
    }    
  }
}
 /*tab style*/
/*font*/
 .font-family-opensans { font-family:  'Open Sans' !important;}
/*font*/ 

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  transition: opacity .2s ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}
.testimonials.owl-theme .owl-dots {
  text-align: right !important;
  margin: 0px !important;
  position: absolute;
  right: 25px;
  bottom: 25%;
  background: #fff;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: $primary-color !important;
}

/* rxt-scroll-img-wrap */
.rxt-scroll-img-wrap { overflow: hidden; height: 550px; position: relative;
  .rxt-scroll-img { @include transition(ease all 6s); }
  &:hover .rxt-scroll-img { @include transform(translateY(calc(-100% + 550px))); }
}
/* /rxt-scroll-img-wrap */

